.container {
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Specific styling for larger devices (i.e iPads & laptops)*/
@media only screen and (min-width: 900px) {
  .container {
      margin: 4rem; 
      margin-left: 8rem;
      margin-right: 8rem;
  }

  .resultsAndNoms {
    display: flex;
  }
}
