.container {
  margin: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Specific styling for larger devices (i.e iPads & laptops)*/
@media only screen and (min-width: 1000px) {
  .container {
      margin: 6rem; 
      margin-left: 10rem;
      margin-right: 10rem;
  }

  .resultsAndNoms {
    display: flex;
  }
}
